a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
.single-page {
  background-image: none;
}
#all {
  padding-left: 15px;
  padding-right: 15px;
}
.bravo-section {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.bravo-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.bravo-overlay-wrap {
  position: relative;
}
.section-content {
  display: block;
  width: 100%;
}
.section-content .section-content {
  width: auto;
  padding: 0px;
}
.container .container {
  padding: 0px;
  width: auto;
}
.bravo-section-info .container h1,
.bravo-section-info .container h2,
.bravo-section-info .container h3,
.bravo-section-info .container h4,
.bravo-section-info .container h5 {
  margin: 0px;
}
.bravo-animate {
  font-size: inherit;
}
.bravo-services-tabs.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels {
  background: transparent;
  border-color: transparent;
}
.bravo-services-tabs.vc_tta.vc_general .vc_tta-panel-body {
  overflow: initial;
}
.bravo-services-tabs.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab {
  margin-top: 50px;
}
.bravo-services-tabs.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 7px 25px;
  font-weight: normal;
  margin: 10px 15px;
  background-color: #ebebeb;
  color: #959595;
  border: none;
}
.bravo-services-tabs.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a:hover,
.bravo-services-tabs.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a:focus {
  color: white;
}
.portfolio-detail-content a:hover,
.portfolio-detail-content a:focus {
  text-decoration: none;
}
.bravo-single-page {
  background-image: none;
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.bravo-single-page > .section-content {
  display: table-cell;
  vertical-align: middle;
}
.page-template-template-about #all {
  padding: 0px;
}
.no-margin-top h1,
.no-margin-top h2,
.no-margin-top h3,
.no-margin-top h4,
.no-margin-top h5 {
  margin-top: 0px;
}
.slider-item.text-center {
  text-align: center;
}
.slider-item.text-left {
  text-align: left;
}
.slider-item.text-right {
  text-align: right;
}
.big-icon-single:first-child {
  margin-top: 0px;
}
.profile-short {
  width: auto;
  float: none;
}
.profile-short .profile-short-info h3 {
  color: #464646;
}
.main-navigation ul li a {
  color: #959595;
}
.single .blog-layout-single {
  padding: 0px;
  margin: 0px;
}
.single .single-page {
  margin-left: -15px;
  margin-right: -15px;
}
#all .sidebar-widget {
  padding: 15px 30px;
  font-size: 14px;
  color: #898989;
}
#all .sidebar-widget .sidebar-heading {
  margin-bottom: 18px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: -15px;
}
#all .sidebar-widget ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#all .sidebar-widget ul li {
  margin: 5px 0px;
}
#all .sidebar-widget .list-catgs {
  margin-left: -30px;
}
#all .sidebar-widget .list-catgs li {
  padding: 0px;
  margin: 0px;
}
#all .sidebar-widget .post-small {
  padding: 0px;
  margin-bottom: 15px;
}
#all .sidebar-widget a {
  color: #898989;
}
#all .sidebar-widget .testimonial-small {
  padding: 0px;
}
#all .sidebar-widget.widget_archive li,
#all .sidebar-widget.widget_categories li {
  text-align: right;
}
#all .sidebar-widget.widget_archive li a,
#all .sidebar-widget.widget_categories li a {
  float: left;
}
#all .sidebar-widget.widget_archive ul ul,
#all .sidebar-widget.widget_categories ul ul {
  padding-left: 10px;
  margin-bottom: -30px;
}
.master-slider .ms-slide-bgcont:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.master-slider:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 104px;
  content: '';
  background-color: rgba(0, 0, 0, 0.05);
}
.master-slider .ms-thumb-list {
  position: absolute!important;
  bottom: 0px;
}
.master-slider .ms-thumb-list .ms-thumb-frame {
  padding: 0px !important;
}
.master-slider .ms-thumb-list .ms-thumb-frame:before {
  top: -10px !important;
}
.master-slider .ms-thumb-list .ms-thumb-frame img {
  margin-top: 0px!important;
}
.master-slider .ms-thumb-list .ms-thumb-frame:after {
  top: 0px!important;
  bottom: 20px !important;
}
.post .post-date .date-month {
  display: block;
  line-height: 35px;
}
.row > .blog-item:nth-child(3n+1) {
  clear: both;
}
.blog-content figure,
.blog-content img {
  max-width: 100%;
  height: auto;
}
.comment-author cite {
  font-style: normal;
}
.post.standard-blog-item {
  padding: 0px;
}
.post.standard-blog-item .sticky {
  border: 1px solid #1BB1E9;
}
.no-results {
  background: white;
  padding: 20px;
}
.pad100-70 {
  padding: 100px 70px;
}
.page-template-template-blank .vc_row {
  display: table;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}
.page-template-template-blank .vc_row .section-content {
  display: table-cell;
}
.page-template-template-blank #all {
  padding: 0px;
}
.page-template-template-blank #all > .vc_row {
  margin-left: 0px;
  margin-right: 0px;
}
.slider-default .owl-item {
  padding-left: 15px;
  padding-right: 15px;
}
.page-template-template-blogs #all {
  padding: 0px;
}
.page-template-template-about #all {
  padding: 0px;
}
#all .popup-window-content .section-content {
  display: block;
  width: auto;
  padding: 0px;
}
#all .popup-window-content .vc_row {
  display: block;
  width: auto;
  height: auto;
}
.owl-carousel .owl-wrapper-outer {
  direction: ltr;
}
